code {
  color: #e03616;
}

NavLink {
  color: #fff;
  margin-right: 10px;
}

.HomeBody {
  background-color: #1E253D;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomeBodyLink {
  color: #D4E4BC;
}

.HomeBodyLink:hover {
  color: #9CC069;
}

.AboutDiv {
  background-color: #D4E4BC;
  padding-top: 3vh;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1E253D;
}

.AboutBody {
  background-color: "off-white";
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1E253D;
  ;
}

.AboutBodyLink {
  color: #9CC069;
}

.AboutBodyLink:hover {
  color: #9CC069;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.navBtn {
  background-color: #283252;

}

.navBtn:hover {
  background-color: #262f4f;
}

/*Footer {
  max-height: 10vh;
}*/

.site-footer {
  background-image: linear-gradient(#D4E4BC, white);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLink {
  color: #283252;
}

.footerLink:hover {
  color:#9CC069;
}

.btn1, btn1:hover {
  color: #fff;
  border-color:#1E253D
}

.btn2 {
  background-color: #1E253D;
}

.btn2:hover {
  background-color: #474d68;
}

.navBg {
  background-color: #1E253D;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
